body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: #555;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .fs-7 {
    font-size: 14px;
  }

  .fw-bold {
    font-weight: bold;
  }

  .form-select {


    &:focus {
      outline: none;
    }
  }
}
