<ul>
  <li><img src="{{movieInfo.Poster}}" alt="{{movieInfo.Title}}" /></li>
  <li>{{movieInfo.Title}}</li>
  <li>Awards: {{movieInfo.Awards}}</li>
  <li>BoxOffice: {{movieInfo.BoxOffice}}</li>
  <li>Country: {{movieInfo.Country}}</li>
  <li>DVD: {{movieInfo.DVD}}</li>
  <li>Director: {{movieInfo.Director}}</li>
  <li>Genre: {{movieInfo.Genre}}</li>
  <li>Language: {{movieInfo.Language}}</li>
  <li>Metascore: {{movieInfo.Metascore}}</li>
  <li>Plot: {{movieInfo.Plot}}</li>
  <li>Production: {{movieInfo.Production}}</li>
  <li>Rated: {{movieInfo.Rated}}</li>
  <li>Released: {{movieInfo.Released}}</li>
  <li>Runtime: {{movieInfo.Runtime}}</li>
  <li>Type: {{movieInfo.Type}}</li>
  <li>Writer: {{movieInfo.Writer}}</li>
  <li>Year: {{movieInfo.Year}}</li>
  <li>imdb ID: {{movieInfo.imdbID}}</li>
  <li>imdb Rating: {{movieInfo.imdbRating}}</li>
  <li>imdb Votes: {{movieInfo.imdbVotes}}</li>
  <li>Website: {{movieInfo.Website}}</li>
</ul>

